@font-face {
  font-family: 'vag_roundedregular';
  src: url('../../fonts/vag_rounded_black-webfont.eot');
  src: url('../../fonts/vag_rounded_black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/vag_rounded_black-webfont.woff2') format('woff2'),
  url('../../fonts/vag_rounded_black-webfont.woff') format('woff'),
  url('../../fonts/vag_rounded_black-webfont.ttf') format('truetype'),
  url('../../fonts/vag_rounded_black-webfont.svg#vag_roundedregular') format('svg');
  font-weight: normal;
  font-style: normal;

}